.ourMission {
  background-color: #f5f5f5;
  padding: 2rem;
}

.ourMission h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.ourMission h1 svg {
  margin-right: 10px;
}

.ourMission p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.youtubeVideo {
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.ourDoctors {
  background-color: #fff;
  padding: 2rem;
}

.ourDoctors h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.ourDoctors h1 svg {
  margin-right: 10px;
}

.ourDoctors p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.doctorsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.doctor {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.doctorInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.doctor img {
  object-fit: cover;
  object-position: 50 50;
  margin-bottom: 1rem;
  height: 100%;
}

.doctor h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .doctorsContainer {
    flex-direction: column;
    align-items: center;
  }

  .doctor {
    margin-bottom: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .ourMission {
    background-color: #2b2b2b;
  }

  .ourMission h1 {
    color: #fff;
  }

  .ourMission p {
    color: #fff;
  }

  .ourDoctors {
    background-color: #1f1f1f;
  }

  .ourDoctors h1 {
    color: #fff;
  }

  .ourDoctors p {
    color: #fff;
  }

  .doctor {
    border: 1px solid #fff;
  }

  .doctor h2 {
    color: #fff;
  }

  .doctor p {
    color: #fff;
  }
}
