.headSection {
  background-image: url("../public/images/background-image.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
  min-height: 500px;
}

.headSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.headSection div {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.headSection h1 {
  white-space: nowrap;
}

.headSection div p {
  font-size: 1.5rem;
  font-weight: 400;
  width: 700px;
  color: #c1c1c1;
}

/* ------- Location Section ------- */

.locationSection {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.locationSection h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.locationSection p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.location ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location li {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #2b8351;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location li a p {
  color: rgb(var(--foreground-rgb));
}

.location li a {
  color: #2b8351;
}

/* ------- Insurance Section ------- */

.insuranceSection {
  background-color: #fff;
  padding: 50px 0;
}

.insuranceSection h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.insuranceSection p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.insuranceImages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.insuranceImages img {
  width: 300px;
  height: 150px;
  margin: 10px;
  padding: 1rem;
  border: 1px solid #2b8351;
  border-radius: 5px;
  background-color: #fff;
}

/* ------- Form Section ------- */

.formSection {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.formSection h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.formSection p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.formSection ol {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.formSection ol li {
  margin-bottom: 20px;
}

.formLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.formLink {
  font-size: 1.5rem;
  margin: 10px;
  padding: 20px 20px 40px;
  border: 1px solid #2b8351;
  border-radius: 5px;
  background-color: #fff;
  color: #2b8351;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-width: 300px;
  height: 150px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.formLink p {
  margin: 0;
}

.formLink:hover {
  background-color: #2b8351;
  color: #fff;
  cursor: pointer;
}

.formLink svg {
  margin: 5px 20px 0 0;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .headSection {
    height: 75vh;
  }

  .headSection div {
    font-size: 2rem;
    line-height: 1.1;
  }

  .headSection h1 {
    white-space: normal;
  }

  .headSection div p {
    margin: 1rem 0;
    font-size: 1.1rem;
    width: 300px;
  }

  .insuranceSection p {
    padding: 0 20px;
  }

  .insuranceImages img {
    width: 150px;
    height: 100px;
  }

  .locationSection p {
    padding: 0 20px;
  }

  .location li {
    width: 150px;
    height: 100px;
  }

  .location p,
  .location a {
    font-size: 0.7rem;
    margin: 0;
  }

  .formSection p {
    font-size: 1.5rem;
    padding: 0 20px;
  }

  .formSection ol {
    width: 80%;
  }

  .formLinks {
    flex-direction: column;
  }

  .formLink {
    /* font-size: 1rem; */
    /* width: 80%; */
    height: fit-content;
    justify-content: space-between;
  }

  .formLink p {
    width: 100%;
  }

  .formLink svg {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 380px) {
  .headSection div {
    font-size: 1.5rem;
    line-height: 1;
  }

  .headSection div p {
    width: 250px;
  }
}

@media (prefers-color-scheme: dark) {
  .insuranceSection {
    background-color: #1f1f1f;
  }

  .insuranceSection h2 {
    color: #fff;
  }

  .insuranceSection p {
    color: #fff;
  }

  .insuranceImages img {
    border: 1px solid #fff;
    background-color: #fff;
  }

  /* for the location section make it a different dark color */
  .locationSection {
    background-color: #2b2b2b;
  }

  .locationSection h2 {
    color: #fff;
  }

  .locationSection p {
    color: #fff;
  }

  .location li {
    border: 1px solid #fff;
  }

  .formSection {
    background-color: #1f1f1f;
  }
}
